*
{
margin: 0;
padding: 0;
box-sizing: content-box;
    font-family: "Oswald", serif;
color: white;
text-decoration: none;
}

div.header
{
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

div.container
{
    background-color: black;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    justify-content: center;

}
div.menu
{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 40px;

}
.button {
    color: white;
    background-color: rgba(0, 0, 255, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer; /* Указываем, что это интерактивный элемент */
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
    /*transition: border-color 0.3s ease;*/
}

.button:hover {
    background-color: rgba(0, 0, 139, 0);
    color: #ff0000;
    border-color: red;

}

div.site_name
{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    font-size: 50px;
    /*margin-left:80px;*/ /*Переписать*/
}

div.clock
{
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 40px;

}
div.index
{

}

div.container_main
{
    background-color: #d8d8d8;
    padding-top: 50px;
    height: 220px;
    width: 93%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 70px;
}

div.container_visits
{
    background-color: #ffffff;
    height: 263px;
    width: 100%;
}

div.container_stats
{
    background-color: #d8d8d8;
    height: 400px ; /*Переписать*/
    width: 100%;
}

.tile_prodaty
{
    color: #e8e8e8;
    background-color: black;
    /*margin-left: 50px;*/
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 30px;
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
    border: 2px solid rgba(0, 0, 0, 0);
}

.tile_prodaty:hover
{
    background-color: black;
    border-color: red;
    font-size: 35px;
    color: #ffffff;
}

.tile_znayity
{
    color: #e8e8e8;
    background-color: black;
    /*margin-left: 50px;*/
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 30px;
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
    border: 2px solid rgba(0, 0, 0, 0);
}

.tile_znayity:hover
{
    background-color: black;
    border-color: red;
    font-size: 35px;
    color: #ffffff;
}

.tile_vnesty
{
    color: #e8e8e8;
    background-color: black;
    /*margin-left: 50px;*/
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 30px;
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
    border: 2px solid rgba(0, 0, 0, 0);
}

.tile_vnesty:hover
{
    background-color: black;
    border-color: red;
    font-size: 35px;
    color: #ffffff;
}

.tile_history
{
    color: #e8e8e8;
    background-color: black;
    /*margin-left: 50px;*/
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 30px;
    transition: all 0.3s ease; /* Плавный переход для всех свойств */
    border: 2px solid rgba(0, 0, 0, 0);
}

.tile_history:hover
{
    background-color: black;
    border-color: red;
    font-size: 35px;
    color: #ffffff;
}


/*----------------------------------------------------------------------------------------------------------------------

 */

.left_side
{
    height: 1080px;
    width:360px;
    background-color: dimgray;
    text-align: center;
    padding-top: 30px;


}
.vnesty
{
    font-size: 30px;

}

/* Стиль для выравнивания формы */

.form {
    display: flex;
    flex-direction: column; /* Поля располагаются вертикально */
    gap: 15px; /* Расстояние между строками */
    padding: 20px;
    align-items: flex-start;
}

.form-row {
    display: flex; /* Горизонтальное выравнивание лейблов и полей */
    align-items: center; /* Выравнивание по вертикали */
    gap: 10px; /* Расстояние между лейблом и полем ввода */
    margin-top: 10px;
}

.form-row label {
    min-width: 150px; /* Фиксированная ширина лейбла */
    text-align: center; /* Выравнивание текста лейбла по правому краю */
}

.form-row input {
    flex: 1; /* Поле ввода занимает всё оставшееся пространство */
    max-width: 300px; /* Максимальная ширина поля */
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #000000;
    box-shadow: 0 0 5px rgba(57, 57, 57, 0.5);
    color: black;
}

.form-row input:focus {
    outline: none;
    border: 1px solid #ff0000;
    box-shadow: 0 0 5px rgb(92, 0, 0);
}

.exportbutton {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.exportbutton:hover {
    background-color: #ff0000;
    border: 2px solid black;
}


.message_status
{
padding-top: 10px;
}
